<section class="bleu">
  <article>
    <button (click)="infos = !infos" class="annule"><i class="pi pi-info-circle"></i>{{ l.t['COMMENT'] }}</button>
    <h3>{{ l.t['LANG_CHOIX'] }}</h3>
    <nav class="menulangues">
      <a (click)="setLang('uk')" [title]="l.t['LANG_CHOIX']"><img src="/assets/images/pictos/uk.png" [alt]="l.t['LANG_IMG']+' '+l.t['LANG_L']"></a>
      <a (click)="setLang('es')" [title]="l.t['LANG_CHOIX']"><img src="/assets/images/pictos/es.png" [alt]="l.t['LANG_IMG']+' '+l.t['LANG_L']"></a>
      <a (click)="setLang('fr')" [title]="l.t['LANG_CHOIX']"><img src="/assets/images/pictos/fr.png" [alt]="l.t['LANG_IMG']+' '+l.t['LANG_L']"></a>
      <a (click)="setLang('pt')" [title]="l.t['LANG_CHOIX']"><img src="/assets/images/pictos/pt.png" [alt]="l.t['LANG_IMG']+' '+l.t['LANG_L']"></a>
    </nav>
  </article>
  <article>
    <h3>{{ l.t['EDIT_MENU_PAGES'] }}</h3>
    <ul>
      <li *ngFor="let p of pages"><a (click)="selectPage($event, p)">{{ p | titlecase }}</a></li>
    </ul>
  </article>
  <article>
    <h3>{{ l.t['EDIT_MENU_INTERFACE'] }}</h3>
    <ul>
      <li><a (click)="selectTrad()">{{ l.t['MENU_TRAD'] }}</a></li>
    </ul>
  </article>
</section>
<section>
  <h1><img [src]="'/assets/images/pictos/' + editLang + '.png'" *ngIf="editLang"> {{ l.t['EDIT_EDIT'] }}</h1>
  <hr>
  <!-- PAGE -->
  <article *ngIf="!trad">
    <form [formGroup]="editPageForm" (submit)="sendEditPage()">
      <label for="titre">{{ l.t['EDIT_TITRE'] }}</label>
      <input formControlName="titre" name="titre" [placeholder]="l.t['EDIT_TITRE']">
      <label for="accroche">{{ l.t['EDIT_STITRE'] }}</label>
      <input formControlName="accroche" name="accroche" [placeholder]="l.t['EDIT_STITRE']">
      <label for="contenu">{{ l.t['EDIT_CONTENU'] }}</label>
      <p-editor formControlName="contenu" ngDefaultControl name="contenu"></p-editor>
      <div class="h">
        <input type="reset" [value]="l.t['FORM_EFFACE']">
        <input type="submit" [value]="l.t['FORM_VALIDE']">
      </div>
    </form>
  </article>
  <article *ngIf="trad">
    <form [formGroup]="editTradForm" (submit)="sendEditTrad()">
      <div class="h">
        <input type="reset" [value]="l.t['FORM_EFFACE']">
        <input type="submit" [value]="l.t['FORM_VALIDE']">
      </div>
      <fieldset *ngFor="let f of editTradForm.controls | keyvalue" >
        <label>{{ f.key }}</label>
        <input [formControlName]="f.key">
      </fieldset>
    </form>
  </article>
  <!-- TRADUCTION -->
  <article *ngIf="pageId.length == 0"></article>
</section>
<!-- DONNEES INITIALES -->
<section class="jaune">
  <h1><img [src]="'/assets/images/pictos/' + l.langue + '.png'" *ngIf="l.langue"> {{ l.t['EDIT_INIT'] }}</h1>
  <!-- PAGE INITIALE -->
  <article *ngIf="!trad">
    <h2>{{ page.titre }}</h2>
    <blockquote>{{ page.accroche }}</blockquote>
    <article [innerHTML]="page.contenu"></article>
  </article>
  <!-- TRADUCTION INITIALE -->
  <article *ngIf="trad">
    <h2>{{ l.t['EDIT_SOFT'] }}</h2>
    <hr>
    <ul>
      <li *ngFor="let t of trad.data | keyvalue">
        {{ t.key }} : {{ t.value }}
      </li>
    </ul>
  </article>
</section>
<p-dialog [header]="l.page.titre" [(visible)]="infos">
  <article [innerHTML]="l.page.contenu"></article>
</p-dialog>
