:host{
  display:flex;
  flex-flow:row nowrap;
  align-items: stretch;
  height:100%;
}
h1{
  display:flex;
  align-items: center;
}
section{
  padding:20px;
  overflow-x: hidden;
  overflow-y:auto;
}
section:nth-child(1){
  flex:2;
  /* justify-content: space-around; */
}
section:nth-child(1) > nav{
  flex-flow:row nowrap;
  justify-content: center;
}
section:nth-child(2){
  flex:4;
  overflow-y:auto;
}
section:nth-child(3){
  flex:4;
  overflow-y:auto;
}

a > img, h1 > img{
  max-width:55px;
  height:35px;
}
h1 > img{
  margin-right:20px;
}
li{
  cursor: pointer;
  list-style: none;
  padding:6px;
}
form > label{
  margin:25px 0 10px;
}
form > div {
  margin-top:30px;
}
form > fieldset{
  display:row nowrap;
}
