<main class="public">
  <section class="bleu">

  </section>
  <section class="bleufonce">
    <!-- ENTETE DE LA COLONNE -->
    <app-entete></app-entete>
    <!-- CONTENU -->
    <article [innerHTML]="l.page.contenu | md">
    </article>
    <!-- MENU DU BAS -->
    <app-pied></app-pied>
  </section>
  <!-- FORMULAIRES DE CREATION DE COMPTE -->
  <section class="orange">
    <h2>{{ l.t['COMPTE'] }}</h2>
    <!-- FORMULAIRE DE CONNEXION -->
    <form [formGroup]="profile" (submit)="creeCompte()">
      <!-- Nom, prénom -->
      <fieldset>
        <label>{{ l.t['FORM_NOM'] }} *</label>
        <input type="text" formControlName="nom" [placeholder]="l.t['FORM_NOM']" required>
        <span *ngIf="profile.controls['nom'].hasError('required')" class="orange">
          {{ l.t['FORM_REQUIS'] }}
        </span>
      </fieldset>
      <fieldset>
        <label>{{ l.t['FORM_PRENOM'] }} *</label>
        <input type="text" formControlName="prenom" [placeholder]="l.t['FORM_PRENOM']" required>
        <span *ngIf="profile.controls['prenom'].hasError('required')" class="orange">
          {{ l.t['FORM_REQUIS'] }}
        </span>
      </fieldset>
      <!-- ADRESSE -->
      <fieldset>
        <label>{{ l.t['FORM_ADR'] }}</label>
        <input type="text" formControlName="adr" [placeholder]="l.t['FORM_ADR']">
      </fieldset>
      <fieldset>
        <label>{{ l.t['FORM_ADR2'] }}</label>
        <input type="text" formControlName="adr2" [placeholder]="l.t['FORM_ADR2']">
      </fieldset>
      <fieldset>
        <label>{{ l.t['FORM_ZIP'] }}</label>
        <input type="number" formControlName="code" [placeholder]="l.t['FORM_ZIP']">
      </fieldset>
      <fieldset>
        <label>{{ l.t['FORM_VILLE'] }}</label>
        <input type="text" formControlName="ville" [placeholder]="l.t['FORM_VILLE']">
      </fieldset>
      <!-- ADRESSE -->
      <fieldset>
        <label>{{ l.t['FORM_TEL'] }}</label>
        <input type="text" formControlName="tel" [placeholder]="l.t['FORM_TEL']">
        <!-- <span *ngIf="profile.controls['tel'].hasError('required')" class="orange">
          {{ l.t['FORM_REQUIS'] }}
        </span> -->
      </fieldset>
      <fieldset>
        <label>{{ l.t['FORM_MOBILE'] }}</label>
        <input type="text" formControlName="mobile" [placeholder]="l.t['FORM_MOBILE']">
        <!-- <span *ngIf="profile.controls['mobile'].hasError('required')" class="orange">
          {{ l.t['FORM_REQUIS'] }}
        </span> -->
      </fieldset>
      <!-- EMAIL -->
      <fieldset>
        <label>{{ l.t['FORM_EMAIL'] }} *</label>
        <input type="email" formControlName="mail" [placeholder]="l.t['FORM_EMAIL']" required>
        <!-- <span class="orange">{{ l.t['FORM_EMAIL'] }}</span> -->
        <span *ngIf="profile.controls['mail'].hasError('email') && !profile.controls['mail'].hasError('required')" class="orange">
          {{ l.t['FORM_FORMAT_MAIL'] }}
        </span>
        <!-- <span *ngIf="profile.controls['mail'].hasError('required')" class="orange">
          {{ l.t['FORM_REQUIS'] }}
        </span> -->
      </fieldset>
      <fieldset>
        <label>{{ l.t['FORM_EMAIL2'] }} *</label>
        <input type="email" formControlName="mail" [placeholder]="l.t['FORM_EMAIL']" required>
        <!-- <span class="orange">{{ l.t['FORM_EMAIL'] }}</span> -->
        <span *ngIf="profile.controls['mail2'].hasError('email') && !profile.controls['mail2'].hasError('required')" class="orange">
          {{ l.t['FORM_FORMAT_MAIL'] }}
        </span>
        <!-- <span *ngIf="profile.controls['mail2'].hasError('required')" class="orange">
          {{ l.t['FORM_REQUIS'] }}
        </span> -->
        <span *ngIf="(profile.controls['mail'].value != profile.controls['mail2'].value) && !profile.controls['mail2'].hasError('required')" class="orange">
          {{ l.t['FORM_CORRESPOND'] }}
        </span>
      </fieldset>
      <!-- PASSE -->
      <fieldset>
        <label>{{ l.t['FORM_PASSE'] }} *</label>
        <input type="password" formControlName="pass" require [placeholder]="l.t['FORM_PASSE']" minlength="8" required>
        <!-- <span  class="orange">{{ l.t['FORM_PASSE'] }}</span> -->
        <span *ngIf="profile.controls['pass'].hasError('pattern') && !profile.controls['pass'].hasError('required')" class="orange">
          {{ l.t['FORM_FORMAT_PASSE'] }}
        </span>
        <!-- <span *ngIf="profile.controls['pass'].hasError('required')" class="orange">
          {{ l.t['FORM_REQUIS'] }}
        </span> -->
      </fieldset>
      <fieldset>
        <label>{{ l.t['FORM_PASSE2'] }} *</label>
        <input type="password" formControlName="pass2" require [placeholder]="l.t['FORM_PASSE2']" minlength="8" required>
        <!-- <span  class="orange">{{ l.t['FORM_PASSE'] }}</span> -->
        <span *ngIf="profile.controls['pass2'].hasError('pattern') && !profile.controls['pass2'].hasError('required')" class="orange">
          {{ l.t['FORM_FORMAT_PASSE'] }}
        </span>
        <!-- <span *ngIf="profile.controls['pass2'].hasError('required')" class="orange">
          {{ l.t['FORM_REQUIS'] }}
        </span> -->
        <span *ngIf="(profile.controls['pass'].value != profile.controls['pass2'].value) && !profile.controls['pass2'].hasError('required')" class="orange">
          {{ l.t['FORM_CORRESPOND'] }}
        </span>
      </fieldset>
      <fieldset>
        <label>{{ l.t['FORM_PROMO'] }}</label>
        <input type="text" formControlName="promo" require [placeholder]="l.t['FORM_PROMO']">
        <span>{{ l.t['FORM_PROMO_INFOS'] }}</span>
      </fieldset>
      <fieldset class="l">
        <input type="reset" [value]="l.t['FORM_EFFACE']">
        <input type="submit" [value]="l.t['FORM_VALIDE']">
      </fieldset>
    </form>
    <p>* {{ l.t["FORM_OBLIGATOIRE"] }}</p>
  </section>
</main>
