section:nth-child(1){
    background:url('/assets/images/pages/raisins.jpg') 50% 50% no-repeat;
}
section:nth-child(2){
    justify-content: space-between;
}
section:nth-child(3) form{
    flex-flow:row wrap;
}
fieldset{
    width:40%;
}
form{
  width: 100%;
  justify-content: space-around;
}
form span{
  padding:10px;
  box-sizing: border-box;
}
