:host{
  display:flex;
  flex-flow:row nowrap;
  justify-content: stretch;
}
section{
  height:100vh;
  padding:20px;
  box-sizing: border-box;
}
section:nth-child(1){
  flex:2;
  text-align:right;
  justify-content: space-around;
}
section:nth-child(2){
  flex:4;
  overflow-x:hidden;
  overflow-y: auto;
}
