<main>
  <section class="bleufonce">
    <app-entete></app-entete>
    <nav>
      <!-- <span class="icone">pin_drop</span> -->
      <a routerLink="/gestion/predictions" title=""><span class="icone">cloud_sync</span>Mettre à jour les données</a>
      <hr>
      <a routerLink="/gestion/utilisateurs" title=""><span class="icone">groups</span>Gérer les utilisateurs</a>
      <hr>
      <a routerLink="/gestion/traductions" title=""><span class="icone">translate</span>Gérer les traductions</a>
    </nav>
    <app-pied></app-pied>
  </section>
  <section>
    <router-outlet></router-outlet>
  </section>
  <section class="jaune"></section>
</main>
