:host{
  display:flex;
  flex-flow:column nowrap;
}
section:nth-child(1){
  width:100vw;
  height:13vh;
  display:flex;
  flex-flow:row nowrap;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  padding:0 10px;
}
section:nth-child(2){
  height:87vh;
}
section:nth-child(1) nav{
  display:flex;
  flex-flow:row nowrap;
}
section:nth-child(1) nav > a{
  padding-right:15px;
}
footer{
  height:3vh;
}
.menupied nav{
  flex-flow:row nowrap !important;
}
