:host{
  display:flex;
  flex-flow:row nowrap;
  justify-content: stretch;
  background-color: #E9E9E9;
}
h2{
  text-align: center;
}
section{
  height:100vh;
  box-sizing: border-box;
}
section:nth-child(1){
  flex:0.7;
  padding:10px 0 10px 10px;
}
section:nth-child(2){
  flex:3;
  padding:0;
  overflow-x:hidden;
  overflow-y: auto;
}
section:nth-child(2) > article{
  background-color: white;
  padding:0 15px 10px;
  margin-bottom:15px;
  box-sizing: border-box;
  position:relative;
}
section:nth-child(2) > form{
  padding:10px;
  flex-flow: row nowrap;
  justify-content: space-around;
}
section:nth-child(2) nav{
  display:flex;
  justify-content: flex-end;
}
section.double-slider{
  margin:0;
  padding:0;
}
section:nth-child(1) > form{
  overflow-y:auto;
  overflow-x: hidden;
  flex-flow:column nowrap;
}
/* #brutes{
  overflow-x:auto;
  overflow-y:hidden;
} */
table{
  width:100%;
}
#chart{
  width:100%;
}
#chartsecond{
  display:flex;
  flex-flow:row nowrap;
}
#chartsecond > div{
  width:50%;
  margin-right:10px;
  box-sizing: border-box;
}
