:host{
  display:flex;
  flex-flow:row nowrap;
  justify-content: stretch;
}
section{
  height:100vh;
  padding:20px 0 20px 20px;
  box-sizing: border-box;
}
section:nth-child(1){
  flex:0.7;
}
section:nth-child(2){
  flex:3;
  overflow:auto;
}
section:nth-child(2) nav{
  display:flex;
  justify-content: flex-end;
}
section.double-slider{
  margin:0;
  padding:0;
}
section:nth-child(1) > form{
  overflow-y:auto;
  overflow-x: hidden;
  flex-flow:column nowrap;
}
/* #brutes{
  overflow-x:auto;
  overflow-y:hidden;
} */
