<!-- MENU DU BAS -->
<a [href]="l.store.config.liens.aide"
  target="_blank" [title]="l.t['COMMENT']">
  <i class="pi pi-question"></i>
  {{ l.t['COMMENT'] }}
</a>

<article class="menupied">
  <nav>
    <a href="http://vincisudoe.eu/mentionslegales" [title]="l.t['MENTIONS']" target="_blank"><i class="pi pi-info-circle"></i></a>
    <a routerLink="rgpd" href="/rgpd" [title]="l.t['RGPD']"><i class="pi pi-directions"></i></a>
    <a href="https://exlineo.com" [title]="l.t['COPYRIGHT']" target="_blank"><i class="pi pi-hashtag"></i></a>
  </nav>
</article>
