<main class="public">
  <section class="bleu">

  </section>
  <section class="bleufonce">
    <!-- ENTETE DE LA COLONNE -->
    <app-entete></app-entete>
    <!-- FORMULAIRE DE CONNEXION -->
    <form [formGroup]="connexionForm">
      <!-- EMAIL -->
      <fieldset>
        <label>{{ l.t['FORM_EMAIL'] }}</label>
        <input type="email" [formControl]="mailForm" placeholder="Ex. exemple@exemple.com" required>
        <!-- <span class="orange">{{ l.t['FORM_EMAIL'] }}</span> -->
        <span *ngIf="mailForm.hasError('email') && !mailForm.hasError('required')" class="rouge">
          {{ l.t['FORM_FORMAT_MAIL'] }}
        </span>
        <span *ngIf="mailForm.hasError('required')" class="rouge">
          {{ l.t['FORM_REQUIS'] }}
        </span>
      </fieldset>
      <!-- PASSE -->
      <fieldset>
        <label>{{ l.t['FORM_PASSE'] }}</label>
        <input type="password" matInput [formControl]="passForm" require placeholder="[a-z][A-Z][0-9] + special > 8" required minlength="8">
        <!-- <span  class="orange">{{ l.t['FORM_PASSE'] }}</span> -->
        <span *ngIf="passForm.hasError('pattern') && !mailForm.hasError('required')" class="rouge">
          {{ l.t['FORM_FORMAT_PASSE'] }}
        </span>
        <span *ngIf="passForm.hasError('required')" class="rouge">
          {{ l.t['FORM_REQUIS'] }}
        </span>
      </fieldset>
      <a (click)="oublie()" [title]="l.t['FORM_OUBLIE']">{{ l.t['FORM_OUBLIE'] }}</a>
      <a (click)="creer()" [title]="l.t['FORM_CREE']">{{ l.t['FORM_CREE'] }}</a>
      <fieldset class="h">
        <input type="reset" [value]="l.t['FORM_EFFACE']">
        <input type="submit" [value]="l.t['FORM_VALIDE']">
      </fieldset>
    </form>
    <!-- MENU DU BAS -->
    <app-pied></app-pied>
  </section>
  <section class="jaune">
    <h2></h2>
    <article>
    </article>
  </section>
</main>
