<section>
  <article class="jaune">
    <form [formGroup]="filtresForm">
      <h3>{{ l.t['FILTRE_TITRE'] }}</h3>
      <select name="pays" formControlName="pays">
        <option value="">{{ l.t['FILTRE_PAYS'] }}</option>
        <option *ngFor="let p of predServ.l.store.listes.pays" [value]="p">{{ p }}</option>
      </select>
      <select name="regions" formControlName="regions">
        <option value="">{{ l.t['FILTRE_REGIONS'] }}</option>
        <option *ngFor="let r of predServ.l.store.listes.regions" [value]="r">{{ r }}</option>
      </select>
      <select name="pdo" formControlName="pdo">
        <option value="">{{ l.t['FILTRE_PDO'] }}</option>
        <option *ngFor="let o of predServ.l.store.listes.pdo" [value]="o">{{ o }}</option>
      </select>
      <select name="type" formControlName="type">
        <option value="">{{ l.t['FILTRE_TYPE'] }}</option>
        <option value="rouge">{{ l.t['FILTRE_ROUGE'] }}</option>
        <option value="blanc">{{ l.t['FILTRE_BLANC'] }}</option>
      </select>
      <input type="number" formControlName="debut" min="1981" max="2015">
      <input type="number" formControlName="fin" min="2023" max="2032">
      <button (click)="infos = !infos" class="annule"><i class="pi pi-info-circle"></i>{{ l.t['COMMENT'] }}</button>
    </form>
  </article>
  <!-- DATA -->
  <article>
    <table>
      <thead class="grisclair">
        <tr>
          <th colspan="4"></th>
          <!-- <th [attr.colspan]="2022-filtresForm.get('debut').value" class="vert">{{ l.t['FILTRE_RENDEMENTS'] }}</th> -->
          <th [attr.colspan]="2022-filtresForm.value.debut!" class="vert">{{ l.t['FILTRE_RENDEMENTS'] }}</th>
          <th [attr.colspan]="filtresForm.value.fin!-2021" class="orange">{{ l.t['FILTRE_PREDICTIONS'] }}</th>
          <th [attr.colspan]="filtresForm.value.fin!-2021" class="rouge">{{ l.t['FILTRE_FIABILITE'] }}</th>
        </tr>
        <tr>
          <th>{{ l.t['FILTRE_PAYS'] }}</th>
          <th>{{ l.t['FILTRE_REGIONS'] }}</th>
          <th>{{ l.t['FILTRE_PDO'] }}</th>
          <th>{{ l.t['FILTRE_TYPE'] }}</th>
          <th
            *ngFor="let r of predServ.l.store.set.data[0].rendements | ecarts:2022-filtresForm.value.debut!; let i=index"
            class="vert">{{ 1983 + (filtresForm.value.debut! - 1983) +i }}</th>
          <th
            *ngFor="let r of predServ.l.store.set.data[0].predictions | ecarts:2032-filtresForm.value.fin!:1; let i=index"
            class="orange">{{ 2022 + i }}</th>
          <th
            *ngFor="let r of predServ.l.store.set.data[0].fiabilites | ecarts:2032-filtresForm.value.fin!:1; let i=index"
            class="rouge">{{ 2022 + i }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of predServ.l.store.set.data | filtres:filtresForm.value; let i=index">
          <td>{{ p.pays }}</td>
          <td>{{ p.regions }}</td>
          <td>{{ p.pdo }}</td>
          <td>{{ p.type }}</td>
          <td *ngFor="let r of p.rendements | ecarts:2022-filtresForm.value.debut!" class="vertclair">{{ r }}</td>
          <td *ngFor="let pr of p.predictions | ecarts:2032-filtresForm.value.fin!:1" class="orangeclair">{{ pr }}</td>
          <td *ngFor="let f of p.fiabilites | ecarts:2032-filtresForm.value.fin!:1" class="rougeclair">{{ f }}</td>
        </tr>
      </tbody>
    </table>
  </article>
</section>
<section class="bleu">
  <article>
    <p>{{ l.t['GESTION_VERSION'] }}</p>
    <select name="fichiers" (change)="predServ.getData($event)">
      <option>{{ l.t['GESTION_VOIR'] }}</option>
      <option *ngFor="let f of predServ.listeVersions" [value]="f">{{ f }}</option>
    </select>
  </article>
  <article>
    <p>{{ l.t['GESTION_AJOUT'] }}</p>
    <label for="fichierup"><i class="pi pi-upload"></i>{{ l.t['FICHIER_UP'] }}</label>
    <input type="file" id="fichierup" (change)="upload($event)" accept=".csv" *ngIf="!file" />
    <button *ngIf="file" (click)="file=undefined" class="annule">{{ l.t['FORM_ANNULE'] }}</button>
    <button *ngIf="file" (click)="saveData()" class="valide">{{ l.t['FICHIER_VALIDE'] }}</button>
  </article>
</section>

<p-dialog [header]="l.page.titre" [(visible)]="infos">
  <article [innerHTML]="l.page.contenu"></article>
</p-dialog>
