/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@300&display=swap&family=Material+Icons'); */
/* import "node_modules/@angular/material/prebuilt-themes/pink-bluegrey.css" */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* You can add global styles to this file, and also import other style files */
html, body  {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}
h1, h2, h3, h4{
  font-family: 'Playfair Display', serif;
}
h1, h3, h4{
  font-weight:normal;
}
a{
  text-decoration: none;
  transition:all .3s ease;
  color:white;
  cursor: pointer;
  opacity:.7;
}
a:hover{
  opacity:1;
  transform:scale(1.05);
}
main{
  width:100%;
  height:100%;
  display:flex;
  flex-flow:row nowrap;
  justify-content: stretch;
}
main > section{
  height:100vh;
  overflow-x:hidden;
  overflow-y:auto;
  display:flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  margin:0;
  padding:25px;
}
/* STRUCTURES */
main.public > section:nth-child(1){
  flex:1;
}
main.public > section:nth-child(2){
  flex:1;
}
main.public > section:nth-child(3){
  flex:2;
}
form{
  display:flex;
  flex-flow:column wrap;
}
fieldset{
  display:flex;
  flex-flow:column nowrap;
  margin-bottom: 10px;
  border:none;
}
input, select, textarea{
  padding:10px;
  border:1px solid rgba(255,255,255,.4);
  font-family: 'Raleway', sans-serif;
  overflow-y:auto;
}
input[type="submit"]{
  background-color:#33A537;
  color:white;
  text-transform: uppercase;
  cursor: pointer;
  width:fit-content;
}
input[type="reset"]{
  background-color:#F7C45F;
  color:white;
  text-transform: uppercase;
  cursor:pointer;
  width:fit-content;
}
form span{
  padding:10px;
}
/* FORMULAIRE NOIR */
form.bleu{
  height:calc(100vh - 100px);
  justify-content: space-around;
}
form.bleu div{
  display:flex;
  flex-flow:column nowrap;
}
form.bleu textarea, form.bleu select, form.bleu option{
  background-color:#28364A;
  border:0;
  color:white;
}
form.bleu option{
  padding:4px;
  transition:"background-color" .3s ease;
}
form.bleu option:hover{
  background-color:#DFA83A;
}
/* CLASSES PERSONNALISES */
.logo{
  width:100%;
}
.logo a {
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
}
.logo a > *{
  margin-top:auto;
}
.logo img{
  width:100px;
  margin:10px;
}
.logo h4{
  margin:10px;
  padding:0;
}
.menupied{
  display:flex;
  flex-flow:row nowrap;
  align-items:center;
  justify-content: space-between;
}
.menupied a{
  max-width:70%;
}
.menupied img{
  width:100%;
}
.menupied nav{
  display:flex;
  flex-flow:column nowrap;
}
.menulangues{
  display:flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  margin-bottom:20px;
}
.menulangues img{
  max-width: 20px;
  margin:0;
  padding:3px;
}
.h{
  display:flex;
  flex-flow:row nowrap !important;
  justify-content:flex-end;
}
.v{
  display:flex;
  flex-flow:column nowrap;
}
.l{
  width:100% !important;
  flex-flow:row nowrap;
  justify-content:center;
}
/* DOUBLE SLIDER
https://codepen.io/rendykstan/pen/VLqZGO
https://codepen.io/thebabydino/pen/NWWerZG
https://codepen.io/tylerama/pen/YwvpBW
https://codepen.io/enxaneta/pen/YyXKdg
https://codepen.io/MarioD/pen/WwXbgr
https://codepen.io/Manitoba/pen/ZWRjye
https://codepen.io/vsync/pen/mdEJMLv : https://github.com/yairEO/ui-range
*/
section.double-slider{
  display:flex;
  flex-flow:row nowrap;
}
section.double-slider > span{
  flex:1;
}
article.range-slider {
  display: flex;
  text-align: center;
  position:relative;
  flex:8;
  padding:0;
  height:40px;
}
article.range-slider > div{
  height:1px;
  width:100%;
  top:20px;
  background-color: white;
  position:absolute;
  z-index:9;
  pointer-events: none;
}
article.range-slider > input[type="range"] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 14px;
    background-color:transparent;
    overflow: hidden;
    top: 10px;
    width: 100%;
    outline: none;
    height: 20px;
    margin: 0;
    padding: 0;
}
article.range-slider > input[type="range"]::-webkit-slider-thumb:before{
  content: attr(data-range);
  position:absolute;
  margin-top:-20px;
  color:white;
  font-weight:bold;
  width:fit-content;
  height:fit-content;
}
input.rangemin{
  z-index:10;
}
input.rangemax{
  z-index:11;
  background-color: transparent;
}
input.rangemin::-webkit-slider-runnable-track{
  background-color: none;
}
/* input.rangemin::-webkit-slider-progress{
  background-color: #F14668;
} */
article.range-slider input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  position: relative;
  z-index: 10;
  outline: 0;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color:#DFA83A;
  background-image: linear-gradient(to bottom, #F7C45F 0%, #DFA83A 100%);
  cursor: pointer;
}
article.range-slider > input[type="range"]::-moz-range-thumb {
  pointer-events: auto;
  position: relative;
  z-index: 10;
  outline: 0;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color:#DFA83A;
  background-image: linear-gradient(to bottom, #F7C45F 0%, #DFA83A 100%);
  cursor: pointer;
}
article.range-slider > input[type="range"]::-ms-thumb {
  pointer-events: auto;
  position: relative;
  z-index: 10;
  outline: 0;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background-color:#DFA83A;
  background-image: linear-gradient(to bottom, #F7C45F 0%, #DFA83A 100%);
  cursor: pointer;
}
article.range-slider input[type="range"]:active::-webkit-slider-thumb{
  background:white;
  border:3px solid #DFA83A;
}
article.range-slider input[type=range]::-moz-range-track {
  position: relative;
  z-index: -1;
  background-color: rgba(0, 0, 0, 1);
  border: 0;
}

input[type=range]:last-of-type::-moz-range-track {
  -moz-appearance: none;
  background: none transparent;
  border: 0;
}

  input[type=range]::-moz-focus-outer {
    border: 0;
  }

/* COULEURS */
.jaune{
  background-color:#F7C45F;
  color:#202A3A;
}
.jaune a {
  color:#202A3A
}
.bleu{
  background-color:#28364A;
  color:white;
}
.bleufonce{
  background-color:#202A3A;
  color:white;
}
.vert{
  background-color: #33A537;
}
.orange{
  background-color: #DFA83A;
}
.rouge{
  background-color: #F14668;
}
.icone{
  font-family: 'Material Icons' !important;
  font-size:24px;
  vertical-align: middle;
  cursor: pointer;
}
nav .icone{
  padding:5px;
}
.ng-valid{
  border-bottom:1px solid green;
}
.ng-invalid{
  border-bottom:1px solid red;
}
/* SCROLLBARS */
::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-track {
  /* background-color: #e4e4e4; */
  /* border-radius: 100px; */
  background-color: rgba(255,255,255,.2);
}
::-webkit-scrollbar-thumb {
  /* border-radius: 50px; */
  border: 5px solid transparent;
  background-clip: content-box;
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color:#F14668;
}
